.skills-container {
  text-align: center;
  color: white;
  background-color: #000; /* Dark background */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-head {
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

.skills-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
}

.skill-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  background-color: #4e4848; 
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width:576px) {
  .skill-item {
    width: 80%;
  }
  .skills-container{
    padding-top: 60px;
  }
}

.skill-icon {
  font-size: 40px;
  color: white; /* Icon color */
}

.skill-name {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.progress-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.475); /* Light background for the progress bar */
  border-radius: 10px;
  margin-left: 10px;
}

.progress {
  height: 100%;
  background-color: rgb(230, 76, 76);
  border-radius: 10px;
  flex-grow: 1;
}

.percentage {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 40px; /* Adjust width for the text alignment */
  text-align: right;
}
