/* General Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 99%;
}

/* Header */
.header {
  margin: 0;
  color: crimson;
  font-size: 20px;
  font-weight: bold;
}

/* List Container */
.list-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navigation Item Container */
.item-container {
  margin: 0 20px;
}

.item-container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover Effect */
.item-container a:hover {
  color: crimson; /* Change text color on hover */
  transform: scale(1.1); /* Slightly enlarge the link */
}

.active-link {
  font-weight: bold;
  color: crimson; /* Optional: Highlight active link */
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  .list-container {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-container {
    width: 95%;
  }

  .list-container.active {
    display: flex;
  }

  .item-container {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
    margin: 10px;
  }
}
