.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
}



.projects-head{
    color: white;
    font-size: 35px;
    font-weight: bold; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    margin-top: 90px;
}

.project-name{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projects-img{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;
 

}



.projects-img:hover{
    opacity: 0.8;
    position: relative;
}

.projects-list-container{
    display: flex;
   
}

.project-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.project-item-link{
    text-decoration: none;
}

@media screen and (max-width:576px){
    .projects-list-container{
        flex-direction: column;
    }
}